.full-height {
    min-height: 60vh;
}
.padding{
    padding-top: 125px;
}
table {
    text-align: center;
}
body{
    background-color: whitesmoke;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

a{
    color: black;
}

.halfbr {
    line-height: 10px
}
.card-seethrough {
    opacity: 0.7;

}